<section class="px-4 bg-primary p-6 py-10 mb-3 md:px-20">
  <div>
    <div>
      <h1 class="text-secondary text-2xl font-bold text-center m-4 md:text-5xl uppercase">Terms and Conditions</h1>
      <div class="bg-secondary p-6 flex flex-col gap-4">

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque numquam dolores est distinctio, optio
          accusamus quae dolorum, ut harum nostrum maxime facilis, animi excepturi. Asperiores assumenda incidunt iste
          modi animi.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil laudantium excepturi similique cumque. Dolores
          officiis, possimus natus temporibus reprehenderit, consequatur aspernatur, ab dolorum deleniti adipisci
          ducimus exercitationem magnam non dolor?
        </p>
        <p class="hidden md:block">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudianda quos excepturi facere commodi consequatur
          voluptates dolorem veniam aut! Cupiditate tempore quasi impedit recusandae, explicabo, inventore ipsam
          maiores, nihil quaerat sunt eius. Ipsum quis reiciendis nisi dolor, similique non recusandae, incidunt
          eligendi magni saepe, debitis eaque autem. Maxime labore hic tempora repudiandae illo? Explicabo officia,
          dignissimos omnis unde corporis nostrum quibusdam eius veritatis neque delectus quos! Delectus aliquid fuga
          doloribus totam repellendus modi ex cumque magnam debitis enim, alias laboriosam molestiae sequi at deserunt
          hic atque! Error voluptas cumque quod molestias expedita voluptatibus non aliquam sapiente molestiae quasi in
          quia accusantium sit harum, hic quam cum totam doloremque eius deleniti nam! Corrupti recusandae facilis quo
          dignissimos, consequatur commodi porro perferendis quae architecto quam? Ducimus voluptate tenetur praesentium
          error. Nam perspiciatis neque voluptates! Quam laudantium quisquam quae facilis voluptatem quasi animi
          temporibus iste beatae, pariatur eligendi incidunt in explicabo illum dolore unde possimus itaque dolorem
          suscipit? Asperiores tempore quod adipisci rem perspiciatis assumenda ipsum iure alias facere excepturi sed
          sit, obcaecati labore aliquam commodi tenetur dolorem placeat totam neque ipsa numquam? Cum corrupti aliquam
          reiciendis voluptatum qui vitae ipsum. Beatae natus accusamus, dolores tenetur nobis dolorum repellendus
          deserunt? Nesciunt, iste.
        </p>
        <p class="md:hidden">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi dolor asperiores obcaecati ullam facilis quam
          molestias culpa quidem? Excepturi.
        </p>
        <button class="uppercase w-[200px] whitespace-nowrap m-auto bg-primary text-nav px-6 py-2 rounded-sm"
          routerLink="">back to home</button>
      </div>
    </div>
  </div>
</section>
