<section class="px-4 py-4 shadow-md md:px-10">
  <div>
    <div>
      <h1 class="text-3xl md:text-4xl mb-2">Comments (25)</h1>
      <div class="bg-stone-200 px-3 py-3 mb-2 rounded">
        <h2 class="text-lg font-bold text-indigo-900">John Doe</h2>
        <h3 class="text-xs text-red-800 mb-2">Last Updated . sep 20 ,2023</h3>
        <p class="text-sm text-slate-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsam consequuntur illo eum modi voluptatem sequi soluta aut asperiores facilis!</p>
        <div class="flex text-sm text-sky-700 gap-6 mt-2">
          <p class="cursor-pointer">Reply</p>
          <p class="cursor-pointer">view reply</p>
        </div>
      </div>
      <div class="bg-stone-200 px-3 py-3 mb-2 rounded">
        <h2 class="text-lg font-bold text-indigo-900">John Doe</h2>
        <h3 class="text-xs text-red-800 mb-2">Last Updated . sep 20 ,2023</h3>
        <p class="text-sm text-slate-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsam consequuntur illo eum modi voluptatem sequi soluta aut asperiores facilis!</p>
        <div class="flex text-sm text-sky-700 gap-6 mt-2">
          <p class="cursor-pointer">Reply</p>
          <p class="cursor-pointer">view reply</p>
        </div>
      </div>
      <div class="bg-stone-200 px-3 py-3 mb-2">
        <h2 class="text-lg font-bold text-indigo-900">John Doe</h2>
        <h3 class="text-xs text-red-800 mb-2">Last Updated . sep 20 ,2023</h3>
        <p class="text-sm text-slate-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsam consequuntur illo eum modi voluptatem sequi soluta aut asperiores facilis!</p>
        <div class="flex text-sm text-sky-700 gap-6 mt-2">
          <p class="cursor-pointer">Reply</p>
          <p class="cursor-pointer">view reply</p>
        </div>
      </div>
    </div>


  </div>
</section>
