<section class="md:px-10 px-4 py-4 md:py-8 shadow-lg">
  <div>
    <div>
      <h1 class="text-3xl md:text-4xl">Leave a comment</h1>
      <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet.</p>
      <form class="flex flex-col gap-4 mt-4 md:mt-10">
        <div class="flex flex-col gap-2 md:gap-4">
          <label class="text-slate-500" for="name">Name</label>
          <input name="name" class="outline-none focus:border-primary drop-shadow-sm md:drop-shadow-md bg-slate-100 border-[1px] border-slate-300 py-2 rounded" type="text">
        </div>
        <div class="flex flex-col gap-2 md:gap-4">
          <label class="text-slate-500" for="comment">Comment</label>
          <textarea name="comment" class="outline-none focus:border-primary drop-shadow-sm md:drop-shadow-md bg-slate-100 border-[1px] border-slate-300 rounded" name="" id="" cols="30" rows="5"></textarea>
        </div>
        <button class="hover:brightness-90 hover:shadow-md cursor-pointer w-[180px] md:w-[250px] bg-primary text-white md:px-6 py-2 md:py-3 rounded">Add Comment</button>
      </form>
    </div>
  </div>
</section>
