<section class="container mx-auto bg-secondary p-6 my-4 rounded-md">
  <div class="text-center">
    <p>Feel free to contact me</p>
    <h1 class="text-4xl font-bold mt-2 mb-10">Get in touch with me !</h1>
    <div class="flex flex-col md:flex-row items-center justify-around">
      <div class="left w-full">
        <h1 class="text-xl font-bold mb-2">Message me</h1>
        <form class="flex flex-col items-center justify-center gap-4">
          <input class="w-full shadow-md rounded-lg px-6 py-3" type="text" placeholder="Name">
          <input class="w-full shadow-md rounded-lg px-6 py-3" type="email" placeholder="Email">
          <textarea class="w-full shadow-md rounded-lg px-6 py-3" name="message" placeholder="Message" cols="30" rows="5"></textarea>
          <button class="bg-primary/95 shadow-md text-secondary font-bold rounded-lg px-4 py-2 hover:bg-primary hover:text-white" >Send Message</button>
        </form>
      </div>
      <div class="right w-full flex flex-col items-start mt-8 md:mt-0 md:pl-40">
        <h1 class="text-xl font-bold mb-2 text-center w-full">Contact info</h1>
        <div  class="py-3 text-left">
          <h1 class="font-bold">Name</h1>
          <p>Akshay Kumar</p>
        </div>
        <div class="py-3 text-left">
          <h1 class="font-bold">Call Me</h1>
          <p>+91 701 070 4436</p>
        </div>
        <div class="py-3 text-left">
          <h1 class="font-bold">Email</h1>
          <p><a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=imakshay3000@gmail.com">imakshay3000@gmail.com</a></p>
        </div>
        <div  class="py-3 text-left">
          <h1 class="font-bold">Social</h1>
          <p><a target="_blank" href="https://www.linkedin.com/in/akshay-kumar-817039224/">LinkedIn</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
