<footer>
  <div  class=" w-full md:h-[100px] bg-primary text-white flex flex-col items-center justify-between px-20 py-6 mt-2 md:py-4 my-auto">
    <ul  class="cursor-pointer hidden md:flex list-none gap-4 text-white tracking-wider uppercase text-sm ">
      <li routerLink="" class="relative before:content-[''] before:w-0 before:h-[2px] before:bg-[#2fbf71] before:absolute before:-bottom-[4px] hover:before:w-full before:transition-all before:duration-500 hover:font-bold hover:text-white transition-all duration-500 ease-in-out uppercase text-sm text-white/75">Home</li>
      <li routerLink="/about" class="relative before:content-[''] before:w-0 before:h-[2px] before:bg-[#2fbf71] before:absolute before:-bottom-[4px] hover:before:w-full before:transition-all before:duration-500 hover:font-bold hover:text-white transition-all duration-500 ease-in-out uppercase text-sm text-white/75">About</li>
      <li routerLink="/terms-conditions" class="relative before:content-[''] before:w-0 before:h-[2px] before:bg-[#2fbf71] before:absolute before:-bottom-[4px] hover:before:w-full before:transition-all before:duration-500 hover:font-bold hover:text-white transition-all duration-500 ease-in-out uppercase text-sm text-white/75">Terms & conditions</li>
      <li routerLink="/contact" class="relative before:content-[''] before:w-0 before:h-[2px] before:bg-[#2fbf71] before:absolute before:-bottom-[4px] hover:before:w-full before:transition-all before:duration-500 hover:font-bold hover:text-white transition-all duration-500 ease-in-out uppercase text-sm text-white/75">Contact</li>
    </ul>
    <p class="whitespace-nowrap font-bold">Copyright &#169; &nbsp; 2023 &nbsp; Times<span class="text-red-600 font-logo tracking-widest">Blog</span>.&nbsp;</p>
  </div>
</footer>
